* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    min-height: 100vh;
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
}
a {
    text-decoration: none;
    color: #F6F0ED;
    }
li {
    list-style-type: none;
}
h3, h4, p {
    font-size: 1.2rem;
}
h5 {
    font-size: 1.2rem;
}
h2 {
    font-size: 1.6rem;
}


/* nav */

nav {
    background-color: #F34616;
    display: flex;
    justify-content: space-around;
    border-bottom: 0.15rem #F6F0ED solid;
    position: relative;
    top: 0;
}
ul {
    width: 95%;
}
nav li {
    display: inline-flex;
    padding: 1.5% 6%;
    color: #F6F0ED;
    font-size: 1.5rem;
}
li:hover {
    color: #ffd800
}


/* banner */

.nav-banner-container {
    background-image: url("./images/hero.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 42rem;
}
.banner {
    background-color: #28536B70;
    color: #F6F0ED;
    font-size: 2rem;
    padding: 1%;
}
.banner p {
    font-size: 1.5rem;
}


/* about */

.about-container {
    background-color: #28536B;
    color: #F6F0ED;
    padding: 5%;
}
.about-content {
    max-width: 60%;
    margin: 0 auto;
}
.about-content span {
    color: #ffd800;
    font-weight: bolder;
}


/* middle scroll backround image */

.backround-image-placeholder {
    background-image: url("./images/backgroundscroll.jpg");
    height: 10rem;
    background-size: cover;
    position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}


/* Meetup and events */
.events-container {
    display: flex;
    flex-wrap: wrap;
}
.events-container h3 {
    font-size: 1.5rem;
    padding-bottom: 5%;
    text-transform: uppercase;
}
.meetup, .events {
    display: flex;
    flex-direction: column;
    flex: 1 1 500px;
    align-items: center;
    padding: 4% 5%;
}
.meetup {
    background-color: #BBB193;
    color: #1e3d4f;
}
.events-container img {
    max-width: 100%;
    min-width: 200px;
    max-height: auto;
    flex: 1 1 300px;
}
.events {
    background-color: #7EA8BE;
    color: #183240;
}
figcaption {
    margin: 1rem;
}
.events figcaption {
    flex: 1 1 300px;
}
.events figure {
    display: flex;
    margin: 2% 0;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


/* Footer */

footer {
    background-color: #F34616;
    padding: 2%;
    color: #F6F0ED;
}
footer p {
    font-size: 1.4rem;
}
footer a {
    text-decoration: underline;
}
footer a:hover {
    color: #ffd800;
}