* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
}
a {
    text-decoration: none;
    color: #F6F0ED;
    }
li {
    list-style-type: none;
}

/* nav */
nav {
    background-color: #F34616;
    display: flex;
    justify-content: space-around;
    border-bottom: 0.15rem #F6F0ED solid;
    position: sticky;
    top: 0;
}
ul {
    width: 95%;
}
nav li {
    display: inline-flex;
    padding: 1.5% 6%;
    color: #F6F0ED;
    font-size: 1.5rem;
}
h3, h4, p {
    font-size: 1.2rem;
}
h2 {
    font-size: 1.6rem;
}

/* banner */
.nav-banner-container {
    background-image: url("./images/hero.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 42rem;
}
.banner {
    background-color: #28536B70;
    color: #F6F0ED;
    font-size: 2rem;
    padding: 2%;
}
.banner p {
    font-size: 1.5rem;
}
/* about */
.about-container {
    background-color: #28536B;
    color: #F6F0ED;
    padding: 5%;
}
.about-content {
    max-width: 60%;
    margin: 0 auto;
}
/* middle scroll backround image */
.backround-image-placeholder {
    background-image: url("./images/backgroundscroll.jpg");
    height: 6rem;
    background-size: cover;
    position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

/* Meetup and events */
.meetup {
    background-color: #BBB193;
    color: black;
}
.events {
    background-color: #7EA8BE;
    color: black;
}

/* Footer */
footer {
    background-color: #F34616;
}